<!-- https://angular.io/guide/form-validation -->
<form (submit)="onlogin(loginform)" #loginform="ngForm">
    <input type ="text"
    ngModel name="enteredusername"
    placeholder ="Username"
    required
    minlength="1"
    pattern ="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
    #enteredusername ="ngModel"/>
    <div *ngIf="enteredusername.invalid && (enteredusername.dirty || enteredusername.touched)">Invalid username. Username must be in the following format: 'example@example.example'.</div>
    <br>
    <input type ="password"
    ngModel name="enteredpassword"
    placeholder ="Password"
    required
    minlength="1"
    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    #enteredpassword ="ngModel"/>
    <div *ngIf="enteredpassword.invalid && (enteredpassword.dirty || enteredpassword.touched)">Invalid password. Password must be 8-15 characters.</div>"
    <br>
<button type = "submit" >{{option}}</button>
</form>